html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#gameBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-color: #eee;
}

#playerDeck, #computerDeck, #arena {
    width: 100%;
    height: 30%;
}

.card {
    /* Your card styling here */
    display: inline-block;
    border-radius: 6px;
    margin: 6px;
    padding: 10px;
    width: 150px;
    height: 200px;
    text-align: center;
    
    color: black;
    background-color: #fff;

}